<!-- _form.html.erb -->
<!-- login form -->
<div class="row">
<!-- col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 -->
	<%= form_for :user, html: {class: "form-horizontal"} do |f|  %>
	<fieldset>
		<legend>Log in</legend>
		<div class="form-group">
			<!-- <label for="email" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10"> -->
			<%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true  %>				
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.submit "Log in", class: "form-control"  %>
		</div>	<!-- closes form-group -->
	
	</fieldset>
	<% end %><!--  ends form for -->
</div>