<!-- new.html.erb -->
<!-- login form -->

	<div class="jumbotron">
		<h1>Fist of Five</h1>
		<!-- display flash messages -->
		<% flash.each do |k,v| %>
			<h2 id="<%= k %>"><%= v %></h2>
		<% end %>

		<%= render partial: "form", locals: {user: @user}  %>
		
		<%= button_to "Return to home page", root_path, method: :get, class: "btn btn-danger btn-form" %>
		
	</div>