<!-- new.html.erb -->
<!-- login form -->
<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<div class="jumbotron">
			<h1>Fist of Five</h1>
			<!-- partial form -->
				<%= render partial: "form", locals: {user: @user}  %>
		</div><!-- closes column -->
	</div>
	
</div>