<!-- show.html.erb -->
<% @page_title = "Reply Details" %>
<%= render partial: "users/user_navbar", locals: {user: @user, poll: @poll, reply: @reply, page_title: "Reply Details"} %>
<h1>Reply show page</h1>
<!-- display flash messages -->
<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>
<h2><%#= @reply.topic  %></h2>