

OK
<form action="/send_sms?id=4&amp;user=6" class="btn btn-primary" method="post">
<div>
<input type="submit" value="Send poll via SMS" />
<input name="authenticity_token" type="hidden" value="AIl8rrmLt1Ui5EDHllcIQ9kgsFnF9v3xAnh11IUX2W8=" />
</div>
</form>




BROKEN
		<a class="btn btn-primary" data-method="post" href="/send_sms.4" rel="nofollow">Send poll via SMS</a>

BROKEN
		<a href="/send_sms?class=btn+btn-primary&amp;id=4&amp;user=6">Send poll via SMS</a>