<!-- _student_preview.html.erb -->

<div class="row">
	<div class="col-md-offset-2 col-md-10">
		<h4><%= student.first_name  %> <%= student.last_name  %> <%= student.sms_phone_number  %></h4>
	</div>
</div>