<!-- edit.html.erb -->
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Edit Student"} %>


<div class="row">

		<%= render partial: "student_form", locals: {student: student, form_title: "Edit Student", button_label: "Save Changes"} %>

</div>