<!-- index.html.erb -->
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Students"} %>

<div class="row">
	<% for student in @students do  %>
		<a href="<%= student.id  %>">
		<%= render partial: "student_preview", locals: {student: student}  %>
		</a>
	<% end %>
</div>