<!-- _user_navbar.html.erb -->
<div class="navbar navbar-inverse">
	<div class="navbar-header">
		<!-- collapse has to do with working with mobile -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Fo5</a>		
</div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">
    	<li class="active"><a href="<%= @user.id %>"><%= @user.first_name ||  @user.email  %></a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>



<!-- 	<ul class="hidden-xs nav navbar-nav">
         <li><%#= link_to "New User", new_user_path %> </li>
         <% if user && user.id%>
           <li> <%#= link_to "New Post", new_user_post_path(user.id) %></li>
           <li> <%#= link_to "Posts", user_posts_path(user.id) %> </li>
           <li> <%#= link_to "Pages", user_pages_path(user.id) %> </li>
         <% end %>
      </ul>