
<%= render partial: "user_navbar", locals: {user: @user, page_title: "Edit User"} %>

<div class="row">
	<div class="col-md-offset-1 col-md-6">
	<!-- display flash messages -->
	<% flash.each do |k,v| %>
		<h2 id="<%= k %>"><%= v %></h2>
	<% end %>
		<%= render partial: "user_form", locals: {user: @user, form_title: "Edit User Information", button_label: "Save Changes"}   %>
	</div>
	<div class="col-md-4">

		<!-- displays opt-in/opt-out for whole course -->
		<!-- displays all courses enroled in plus opt-in/out preferences for each -->
		
	</div>
</div>