<% @page_title = "Edit User" %>
<%= render partial: "user_navbar", locals: {user: @user, page_title: "Edit User"} %>

	<div class="jumbotron">
		<%= render partial: "user_form", locals: {user: @user, form_title: "Edit User Information", button_label: "Save Changes"}   %>
	<%= button_to "Cancel", user_path(@current_user.id), method: :get, class: "btn btn-form btn-danger" %>
	</div>