<!-- home.html.erb -->

<%= render partial: "user_navbar", locals: {user: @user, page_title: "User Home"} %>

<div class="row">
	<div class="" id="user_courses">
		<!-- courses preview partial, only courses this user is in -->

	</div>
	<div class="" id="all_courses">
		<!-- courses preview partial, all courses or non-involved, mark ones they're in -->
	</div>
	

</div>