<div class="col-md-2"></div>
<div class="col-md-10">
<h1>All users</h1>

<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>

<% @users.each do |user| %>
	<p>User email: <%= user.email  %></p>
<% end %>

<h2>Link to own user page?</h2>

<h2>Logout link? <%= link_to "LOGOUT", logout_url  %></h2>
</div>
<div class="col-md-2"></div>