<!-- new.html.erb -->
<!-- signup -->
<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<div class="jumbotron">
			<h1>Fist of Five</h1>
		</div><!-- closes column -->
		<div class="row">
			<div class="col-md-12 in-line">
				<h2>Sign up</h2>
<!-- partial form -->
			</div>
			
		</div>
	</div>
	
</div>