<!-- show.html.erb -->

<%= render partial: "user_navbar", locals: {user: @user, page_title: "User Details"} %>




<!-- render partial with all polls data?? in later column so it will collapse-->
<div class="row polls-preview">
	<% for poll in @polls do  %>
	<%= render partial: "polls/poll_preview", locals: {poll: poll, user: @user} %>
	<% end %>
</div>