<!-- _poll_preview.html.erb -->

<!-- show poll topic, with link, date and number of replies -->
<div class="row">
	<p>Poll ID: <%= poll.id  %> <%= link_to poll.topic.titleize, user_poll_path(user.id, poll.id) %></p>
</div>