<!-- show.html.erb -->
<h2>Show details of a poll</h2>

Show Poll details--not wporking

<%#= render partial: 'poll', locals: {poll: @poll, user: @user} %>
<h3>
	<%#= @poll.id, @poll.topic  %>
</h3>

