<!-- edit.html.erb -->
<% @page_title = "Edit Course" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Edit Course"} %>

	<div class="jumbotron">
		<%= render partial: "course_form", locals: {user: @user, form_title: "Edit Course", button_label: "Save Changes"}   %>
		<%= button_to "Cancel", course_path(@course.id), method: :get, class: "btn btn-form btn-danger" %>
	</div>