<!-- new.html.erb -->
<% @page_title = "New Course" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "New Course"} %>

	<div class="jumbotron">
		<%= render partial: "course_form", locals: {user: @user, course: @course, form_title: "New Course", button_label: "Save New Course"}   %>
		<%= button_to "Cancel", courses_path, method: :get, class: "btn btn-form btn-danger" %>
	</div>