<!-- show.html.erb -->
<% @page_title = "Course Details" %>

<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Course Details"} %>


<div class="row">

		<%= render partial: "course_details", locals: {course: @course}  %>

		<!-- show users involved with the course? -->
		<!-- users preview partial -->

</div>