/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("../assets/fake-brick-wallpaper.jpg");
	background-color: rgba(250, 250, 250, .9);
 }
.navbar-spacer {
	height: 80px;
}
 .container {
	background-color: rgba(250, 250, 250, .9);
	padding: 10px;
}
.jumbotron {
	text-align: center;
	background-color: rgba(250, 250, 250, .9);
}
/*div.jumbotron {
	background-color: rgba(250, 250, 250, .9);
}*/
li {
	display: inline-block;
}
.indent {
	padding-left: 25px;
}
.polls-preview{
	/* background-color: rgba(250, 250, 250, .85);*/
	text-align: left;	
}
small {
	color: black;
}
.no-data {

}
/*chart styling*/
#myChart {

}


/* Navbar options from surgeprotector
4: .navbar.navbar-default.navbar-fixed-top {
	25    -webkit-box-sizing: border-box;
	26    -moz-box-sizing: border-box;
	..
	43  }
	44  
	45: .navbar {
	46    font-size: 20px;
	47    background-color: black;
	..
	51  }
	52  
	53: .navbar-toggle.collapsed{
	54    background-color: black;
	55    border-color: #72c9b3;
	56  }
	57  
	58: .navbar-toggle::after {
	59    background-color: black;
	60    border-color: #72c9b3;
	61  }
	62  
	63: .navbar-toggle.collapsed:hover {
	64    background-color: #474747;
	65    border-color: #72c9b3;
	66  }
	67  
	68: .navbar-collapse.collapse.in {
	69    background-color: black;
	70  }
	71  
	72: .navbar-toggle:focus{
	73    background-color: #474747 !important;
	74    border-color: #72c9b3  !important;
	..
	86  }
	87  
	88: .nav.navbar-nav.navbar-right{
	89    margin-right: 20px;
	90  }*/