<div class="col-md-7">
	<h1>Fist of Five</h1>

	<% flash.each do |k,v| %>
		<h2 id="<%= k %>"><%= v %></h2>
	<% end %>

	<h2>Go to the <%= link_to "login page", login_path %></h2>
	<h2>Go to the <%= link_to "sign up page", signup_path %></h2>
</div>
<div class="col-md-5">
	<img src="http://www.nahq.org/uploads/images/about/raised-hands.jpg" alt="">
</div>